@model List<Mobile_Store2.Data.Models.OrderItem>

<h2>Cart</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price per unit</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Phone.Name</td>
                <td>@item.Phone.Description</td>
                <td>@item.UnitPrice.ToString("C")</td>
                <td>
                    <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                        <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
                        <input style="width: 60px" type="number" name="quantity" min="1" value="@item.Quantity" onchange="this.form.submit()" />
                    </form>
                </td>
                <td class="subtotal">@((item.UnitPrice * item.Quantity).ToString("C"))</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>

        }

        <tr>
            <td colspan="4">Total</td>
            <td id="total">@Model.Sum(item => item.UnitPrice * item.Quantity).ToString("C")</td>
        </tr>
    </tbody>
</table>

@if (Model.Any())
{
    <form asp-action="Checkout" method="post">
        <a href="@Url.Action("Index", "Checkout")" class="btn btn-success">Checkout</a> <br />
        
    </form>
}
else
{
    <h5 class="text-center">Your cart is empty.</h5>
}
<br>
<a href="@Url.Action("Index", "Shop")" class="btn btn-primary">Continue Shopping</a>


@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}